- name: Detect OS family
  set_fact:
    os_family: "{{ ansible_os_family | lower }}"

- name: Install Ubuntu/Debian build dependencies
  apt:
    name:
      - cmake
      - libssl-dev
      - libvips-dev
      - libsixel-dev
      - libchafa-dev
      - libtbb-dev
      - libxcb-image0-dev
      - libxcb-res0-dev
      - libopencv-dev
      - git
      - build-essential
    state: present
    update_cache: yes
  become: true
  when: os_family == "debian"

- name: Install Arch Linux build dependencies
  pacman:
    name:
      - base-devel
      - cmake
      - openssl
      - vips
      - libsixel
      - chafa
      - tbb
      - git
    state: present
    update_cache: yes
  become: true
  when: os_family == "arch"

- name: Clone ueberzugpp repo
  git:
    repo: https://github.com/jstkdng/ueberzugpp.git
    dest: /tmp/ueberzugpp
    version: master

- name: Create build directory
  file:
    path: /tmp/ueberzugpp/build
    state: directory

- name: Configure ueberzugpp build
  shell: |
    cd /tmp/ueberzugpp
    mkdir -p build && cd build
    cmake -DCMAKE_BUILD_TYPE=Release -DENABLE_X11=ON ..
    rm ueberzugpp
  args:
    creates: /tmp/ueberzugpp/build/CMakeCache.txt

- name: Build ueberzugpp
  shell: |
    cmake build .
  args:
    chdir: /tmp/ueberzugpp/build
    creates: /tmp/ueberzugpp/build/ueberzug

- name: Install ueberzugpp binary
  become: true
  copy:
    src: /tmp/ueberzugpp/build/ueberzug
    dest: /usr/local/bin/ueberzug
    mode: '0755'
    remote_src: yes

- name: Create ueberzug symlink
  become: true
  file:
    src: /usr/local/bin/ueberzug
    dest: /usr/local/bin/ueberzugpp
    state: link

- name: Cleanup
  file:
    path: /tmp/ueberzugpp
    state: absent

